/****************
CSS Reset
*****************/
*,
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: black;
}

html {
  font-family: 'Montserrat', sans-serif;
}

/****************
Container Styles
*****************/

.container {
  display: flex;
  flex-direction: column;
}

/****************
Header
*****************/

.main-header {
  display: flex;
  justify-content: space-evenly;
  padding: 2em;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid black;
  background: white;
  animation: 1s slidefade 0.25s forwards;
  opacity: 0;
}

.landing-title {
  width: 50%;
}

.main-nav {
  width: 50%;
}
#nav-items {
  display: flex;
  justify-content: space-between;
}

.close {
  /* display: none; */
  animation: 0.2s slidefade-out 0.2s forwards;
  opacity: 1;
}

.no-animation {
  opacity: 1;
  animation: none;
}

/****************
Landing
*****************/

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-landing {
  line-height: 1.5;
}

.main-landing-title {
  text-decoration: underline;
  font-size: 6rem;
}

.main-landing-subtitle {
  font-size: 2rem;
}

/****************
Icon Styles
*****************/

.fas {
  font-size: 20em;
}

.fa-arrow-up {
  font-size: 3em;
}

/* .scrollToTopBtn {
  display: none;
  height: 35px;
  width: 35px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 100;
} */

.scroll-to-top {
  display: none;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 2em; */
}

/****************
About
*****************/

.about {
  display: flex;
  justify-content: space-evenly;
  margin: 9em 6em 6em 6em;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image {
  width: 50%;
}

.about-content {
  width: 50%;
}

/****************
Services
*****************/

.services {
  display: flex;
  justify-content: space-evenly;
  margin: 6em;
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-content {
  width: 50%;
}

.services-image {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}

/****************
Contact
*****************/

.contact {
  display: flex;
  margin-bottom: 0;
  padding-bottom: 0;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-contact {
  display: flex;
  align-self: center;
  flex-direction: column;
  max-width: 1024px;
  margin: 3em 15em 0em 15em;
  padding: 6em;
  border: 1px solid rgba(204, 204, 204, 0.2);
  border-radius: 10px;
  box-shadow: 5px 10px 18px rgba(204, 204, 204, 0.4);
}

.contact-form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 2em;
}

.contact-info {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  line-height: 2;
}

.contact-name,
.contact-email {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 5px;
}

.contact-message {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}

input[type=text],
input[type=email],
input[type=textarea] {
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 1em 0 1em 0;
}

input[type=submit] {
  margin-top: 2em;
  padding: 1em;
  border: none;
  border-radius: 15%;
}

label {
  margin-top: 1em;
}

/****************
Footer
*****************/
.footer {
  display: flex;
  width: 100%;
  margin: 3em;
  align-items: center;
  justify-content: center;
}

/****************
Grouped Styles
*****************/
.landing,
.about,
.services,
.contact {
  height: 100vh;
  /* justify-content: center; */
}

.about-blurb,
.services-blurb,
.contact-blurb {
  line-height: 2;
}

.about-title,
.services-title,
.contact-title {
  font-size: 3rem;
  font-weight: 900;
}

.active {
  text-decoration: underline;
}

.reveal {
  display: flex;
  position: fixed;
  bottom: 5em;
  left: 40em;
  z-index: 100;
  opacity: 0;
  animation: 1s slidefade 0.25s forwards;
}

/****************
Animations
*****************/

@keyframes slidefade {
  100% {
    opacity: 1;
    margin: 0;
  }
}

@keyframes slidefade-out {
  100% {
    opacity: 0;
    margin:0;
  }
}